#GameScene {

    position: fixed;
        left: 25%;
        top: 5%;

    width: 50%;
    height: 75%;
    
    background-color: rgb(173, 173, 173);
    outline-width: 5px;
    outline-color: rgb(0, 0, 0);
    outline-style: solid

}

body {
    padding-top: 743px; /* y højde */
    font-family: Arial;
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    text-align: center;
    position: fixed;
    left: 17.8%;
}   
